{% extends 'layout.html' %}

{% block title %}
  <title>{{ locations.location }}</title>
{% endblock %}


{% block body %}
  {% include 'servicesNavbar.html' %}
  <section id="lochero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>{{ locations.location }}</h1>

    <h4>Here goes the services available to {{ locations.location }}</h4>
    <ul>
      <h5>
        <table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">Services</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
    {% for service in services %}
    <tr>
      <td>{{ service.service }}</td>
      <td>{{ service.charge }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>


      </h5>
    </ul>
  </div>

  </section>
{% endblock %}
