{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>{{ services.title }}</title>
{% endblock %}


{% block body %}
{% include 'servicesNavbar.html' %}

<section id="featured-services" class="featured-services">
        <div class="container rounded">

          <h3>{{ services.title }}</h3>
          <h5>Rs.{{ services.charge }}</h5>
          <p>
            <i class="bx bx-timer"></i>

            {{ services.time }} min</p>
          <p>{{ services.description }}</p>

          <form action="#" method="POST">
            {% csrf_token %}
            <input type="text" name="services" value="{{ services.id }}">
            <button type="submit" class="btn btn-primary float-right">Add to Cart</button>
          </form>
        </div>
      </section>

{% endblock %}
