{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>{{ services.title }}</title>
{% endblock %}


{% block body %}
{% include 'servicesNavbar.html' %}

<section id="featured-services" class="featured-services">
        <div class="container rounded">

          <h3>{{ services.title }}</h3>
          <h5>Rs.{{ services.charge }}</h5>
          <p>
            <i class="bx bx-timer"></i>

            {{ services.time }} min</p>
          <p>{{ services.description }}</p>
        </div>
      </section>

{% endblock %}
