{% extends "layout.html" %}
{% load static %}
{% block title %}
<title>SkillDrill</title>

{% endblock %}

{% block body %}
{% include 'navbar.html' %}
<!-- ======= Hero Section Bishal ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>Welcome to <span>Skill Drill</span>.</h1>
    <h2>SkillDrill - platform that helps customers to book reliable services and a solution for unemployment. </h2>
    <div class="d-flex">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary btn-lg dropdown-toggle" data-toggle="dropdown">Choose Your Location<span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu" role="menu">
        {% for location in locations %}
          <li><a href="locations/{{ location.location }}">{{ location }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section><!-- End Hero -->



 <!-- Our Team section -->

 <!-- ======= About Section ======= -->
     <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">
       <div class="section-title">
        <h2>About</h2>
        <h3>Find Out More <span>About Us</span></h3>
      </div>
      <p>
           SkillDrill is an online marketplace for local services where services like Repair & maintenance, home cleaning,
           homecare & design, pest control, packers & movers, business services, event management, weddings & party management,
           health & wellness, salon, and other local services are all available on SkillDrill. It helps customers to book reliable
           home services like plumbing, carpentry, painting and so on. It creates job opportunity for millions of jobless people.
           Its vision is to empower service professionals to deliver services at home like never seen before. Its main motto is to make
           people hassle free from wandering for service professionals.
      </p>
    </div>
  </section>

 <main id="main">

     <!-- ======= Featured Services Section Bishal ======= -->
     <section id="featured-services" class="featured-services">
       <div class="container" data-aos="fade-up">
         <div class="section-title">
           <h2>Services</h2>
           <h3>Check our <span>Services</span></h3>
        </div>
         <div class="row">
           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
               <div class="icon"><i class="bx bx-paint-roll"></i></div>
               <h4 class="title"><a href="">Painter</a></h4>
               <p class="description">On-Time Mess-free Experience</p>
               <p class="description">High Quality Paints with Transparent Cost</p>
             </div>
           </div>

           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
               <div class="icon"><i class="bx bx-chip"></i></div>
               <h4 class="title"><a href="">Repair Appliances</a></h4>
               <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
             </div>
           </div>

           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
               <div class="icon"><i class="bx bx-spa"></i></div>
               <h4 class="title"><a href="">Home Spa</a></h4>
               <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
             </div>
           </div>

           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
               <div class="icon"><i class="bx bxs-virus-block"></i></div>
               <h4 class="title"><a href="">Disinfecter</a></h4>
               <p class="description"> Treatment Services with Technical Advance Amenities</p>
             </div>
           </div>

           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
               <div class="icon"><i class="bx bxl-zoom"></i></div>
               <h4 class="title"><a href="">Photographer</a></h4>
               <p class="description">Capture beautiful memories in High Quality.</p>
             </div>
           </div>

           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
               <div class="icon"><i class="bx bx-bug"></i></div>
               <h4 class="title"><a href="">Chemical Guy</a></h4>
               <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
             </div>
           </div>

           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
               <div class="icon"><i class="bx bx-dumbbell"></i></div>
               <h4 class="title"><a href="">Trainer</a></h4>
               <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
             </div>
           </div>

           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
               <div class="icon"><i class="bx bxs-baby-carriage"></i></div>
               <h4 class="title"><a href="">Child Care</a></h4>
               <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
             </div>
           </div>

         </div>

       </div>
     </section><!-- End Featured Services Section -->

    <!-- Professionals Section -->
    <section id="professionals" class="professionals section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Professionals</h2>
          <h3>Heartly Welcome <span>Professionals</span></h3>
        </div>
      </div>
    </section>
    <!-- Professional Section Ends -->

     <!-- Our Team section -->
     <section id="team" class="team section-bg">
        <div id="rs-team" class="rs-team fullwidth-team pt-100 pb-70 mt-3">
            <div class="container section-title" data-aos="fade-up">
                <h2>Team</h2>
                <h3>Our Hardworking <span>Team</span></h3>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="member team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team/banish.jpg' %}" alt="team Image">
                                <div class="normal-text">
                                    <h4 class="team-name">Banish Sapkota</h4>
                                </div>
                            </div>
                            <div class="team-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="share-icons">
                                            <div class="border"></div>
                                            <ul class="team-social icons-1">
                                                <li><a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="https://mobile.twitter.com/SapkotaBanish" class="social-icon" target="_blank"><i class="fa fa-twitter"></i></a>
                                                </li>
                                            </ul>

                                            <ul class="team-social icons-2">
                                                <li><a href="#" class="social-icon"><i class="fa fa-skype"></i></a>
                                                </li>
                                                <li><a href="https://www.linkedin.com/in/banish-sapkota-2139a1198/" class="social-icon" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="team-details">
                                            <h4 class="team-name text-white-50">
                                                Banish Sapkota
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="member team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team/bishal.jpg' %}" alt="team Image">
                                <div class="normal-text">
                                    <h4 class="team-name">Bishal Raj Shrestha</h4>
                                </div>
                            </div>
                            <div class="team-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="share-icons">
                                            <div class="border"></div>
                                            <ul class="team-social icons-1">
                                                <li><a href="https://www.facebook.com/bishalrajshrestha1" class="social-icon" target="_blank"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="https://mobile.twitter.com/BishalRajShres1" class="social-icon" target="_blank"><i class="fa fa-twitter"></i></a>
                                                </li>
                                            </ul>

                                            <ul class="team-social icons-2">
                                                <li><a href="#" class="social-icon"><i class="fa fa-skype"></i></a>
                                                </li>
                                                <li><a href="https://www.linkedin.com/in/bishalrajshrestha/" class="social-icon" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="team-details">
                                            <h4 class="team-name text-white-50">
                                                Bishal Raj Shrestha
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="member team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team/kiran.jpg' %}" alt="team Image">
                                <div class="normal-text">
                                    <h4 class="team-name">Kiran Kumari Giri</h4>
                                </div>
                            </div>
                            <div class="team-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="share-icons">
                                            <div class="border"></div>
                                            <ul class="team-social icons-1">
                                                <li><a href="https://www.facebook.com/anushka.giri.7359" class="social-icon" target="_blank"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                                </li>
                                            </ul>

                                            <ul class="team-social icons-2">
                                                <li><a href="#" class="social-icon"><i class="fa fa-skype"></i></a>
                                                </li>
                                                <li><a href="https://www.linkedin.com/in/kiran-kumari-giri-7604871a4/" class="social-icon" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="team-details">
                                            <h4 class="team-name text-white-50">
                                                Kiran Kumari Giri
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="member team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team/sagar.jpg' %}" alt="team Image">
                                <div class="normal-text">
                                    <h4 class="team-name">Sagar Prasad Chaulagain</h4>
                                </div>
                            </div>
                            <div class="team-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="share-icons">
                                            <div class="border"></div>
                                            <ul class="team-social icons-1">
                                                <li><a href="https://www.facebook.com/sagarprasadchaulagain" class="social-icon" target="_blank"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="https://mobile.twitter.com/Sagarpd2056" class="social-icon" target="_blank"><i class="fa fa-twitter"></i></a>
                                                </li>
                                            </ul>

                                            <ul class="team-social icons-2">
                                                <li><a href="https://join.skype.com/invite/wAYBiHF9oqhu" class="social-icon" target="_blank"><i class="fa fa-skype"></i></a>
                                                </li>
                                                <li><a href="https://www.linkedin.com/in/sagar-prasad-chaulagain-8834a8188/" class="social-icon" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="team-details">
                                            <h4 class="team-name text-white-50">
                                                Sagar Prasad Chaulagain
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="member team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team/achbj.jpg' %}" alt="team Image">
                                <div class="normal-text">
                                    <h4 class="team-name">Bijaya Acharya</h4>
                                </div>
                            </div>
                            <div class="team-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="share-icons">
                                            <div class="border"></div>
                                            <ul class="team-social icons-1">
                                                <li><a href="https://www.facebook.com/ach.bj10" class="social-icon" target="_blank"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="https://twitter.com/achbj10" class="social-icon" target="_blank"><i class="fa fa-twitter"></i></a>
                                                </li>
                                            </ul>

                                            <ul class="team-social icons-2">
                                                <li><a href="#" class="social-icon"><i class="fa fa-skype"></i></a>
                                                </li>
                                                <li><a href="https://www.linkedin.com/in/bj-acharya-522a62153/" class="social-icon" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="team-details">
                                            <h4 class="team-name text-white-50">
                                                Bijaya Acharya
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container-fullwidth -->
        </div>
     </section>
    <!-- Team Section Ends -->

    <!-- Professionals Section -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Contact Us</h2>
          <h3>You can <span>Get Us Through</span></h3>
        </div>
      </div>
    </section>
    <!-- Professional Section Ends -->

  </main>


{% endblock %}
