{% extends "adminlayout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Location Panel</title>

{% endblock title %}

{% block body %}
<style>
    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .container {
      padding: 2px 16px;
    }

    #container {

    }
</style>
    <div class="main-content">
        <main>
            <!-- Location adding Center -->
            <div id="container col-xl-10">
                <a href="{% url 'add-location' %}" >+ Add New Location</a>
            </div>

            {% if is_empty %}
            <h1>No Location right now please add location where you available</h1>
            {% endif %}
            {% for location in object_list %}
            <div class="bi-grid col-4">
              <img class="card-img" src={{ location.cover.url }} alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>{{ location.location }}</b>
                    <button class="btn-primary float-right ml-10">
                        Update
                    </button>
                </h4>

              </div>
            </div>
            {% endfor %}
        </main>
    </div>
{% endblock body %}