{% extends "layout.html" %} {% load static %} {% block title %}
<title>SkillDrill</title>

{% endblock %} {% block body %} {% include 'professionalNav.html' %}
<style>
    #detailinfo{
     text-align:center;
    }
    #body1 h5{
    color:blue;
    }
    li{
    font-family:"Poppins", sans-serif;
    font-size:15px;
    color:black;

    }
</style>
<div class="container" id="detailinfo">
    <h3>Hello, </h3>
    <h6>You are few steps away from completing your profile.</h6>
</div>
<div class="container" id="body1">
    <div class="row">

            <h5>Identity verification</h5>
            <h6>We would like to have following details from you</h6>
            <ol >
                <li>Identity proof
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h6>Enter your citizenship details</h6>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="citizenno">CITIZENSHIP NO.</label>
                        <input type="text" class="form-control" id="citizenno" placeholder="Enter citizenship number">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="district">ISSUANCE BY DISTRICT</label>
                        <input type="text" class="form-control" id="district" placeholder="Enter district">
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="date">DATE OF ISSUANCE</label>
                        <input type="text" class="form-control" id="date" placeholder="Enter issuance district">
                      </div>

                    </div>
                </li>
                <li>Personal information
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h6>Enter your Personal details</h6>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="fname">FULL NAME</label>
                        <input type="text" class="form-control" id="fname" placeholder="Enter fullname">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="gender">GENDER</label>
                        <input type="text" class="form-control" id="gender" placeholder="Enter gender">
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="dob">DATE OF BIRTH</label>
                        <input type="text" class="form-control" id="dob" placeholder="Enter dob">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="charge">CHARGE PER HOUR</label>
                        <input type="text" class="form-control" id="charge" placeholder="Enter charge per hour">
                      </div>
                    </div>
                </li>
                <li>Current address
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h6>Enter your address details</h6>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="house">HOUSE NO</label>
                        <input type="text" class="form-control" id="house" placeholder="Enter house no.">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="street">STREET</label>
                        <input type="text" class="form-control" id="street" placeholder="Enter street">
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="zipcode">ZIPCODE</label>
                        <input type="text" class="form-control" id="zipcode" placeholder="Enter zipcode">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="city">CITY</label>
                        <input type="text" class="form-control" id="city" placeholder="Enter city">
                      </div>

                        <div class="form-group col-md-6">
                        <label for="state">STATE</label>
                        <input type="text" class="form-control" id="state" placeholder="Enter state">
                      </div>
                    </div>
                </li>

            </ol>

        <h5>Award and certificate photos</h5>
        <p>Upload photo of certificate of award from government recognised institute or trade body.</p>
        <input type="file" id="myFile" name="filename">
        <a href="" class="btn btn-primary col-md-2" style="margin:75px 100px 100px 300px">Submit for approval</a>
    </div>


</div>
{% endblock %}