{% extends "layout.html" %}
{% load static %}
{% block title %}
{% load crispy_forms_tags %}
<title>SkillDrill</title>

{% endblock %} {% block body %} {% include 'professionalNav.html' %}
<section id="hero" style="background-image: url('static/img/professionals/background.jpg');" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="text">
            <h1>Welcome to <span>Skill Drill</span>.</h1>
            <h4>Expand your <span> service business with SkillDrill</span></h4>
            <h2>Join a community of 10000+ professionals who have successfully grown their business with SkillDrill. </h2>
        </div>

    </div>
    <div class="signup">
        <form action="" method="post" class="form">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-success ml-2" type="submit">Register</button>
        </form>
        <a class="btn btn-primary" href="{% url 'signin_professional' %}" role="button">Login</a>

    </div>

</section>
{% endblock %}