{% extends "layout.html" %} {% load static %} {% block title %}
<title>SkillDrill</title>

{% endblock %} {% block body %} {% include 'professionalNav.html' %}
<style>
img{
margin-left:500px;
}
h4,p{
font-family:"Poppins", sans-serif;
text-align:center;


}
#successmessage{
margin-top:50px;
}
#successmessage p,h5{
font-family:"Poppins", sans-serif;
text-align:center;
padding-top:10px;

}
</style>
<div class="container">
    <img src="{% static 'img/professionals/success2.png'%}" alt="">
    <h4>Congratulations!</h4>
    <p>You have successfully signed up as a partner on SkillDrill</p>
    <div id="successmessage">

        <h5>1. Service category is not live yet</h5>
        <p>your service category is not live yet in the city chosen by you</p>
        <h5>2. Complete your SkillDrill profile....<a href="profile">Click here</a></h5>
        <p>you first complete your profile so you are prioritiseed when we lauch your service category in your city</p>
        <h5>3. We will be in touch</h5>
        <p>We will reach out to you as soon as your service category is launched in your city</p>
    </div>
    
</div>
{% endblock %}