<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <link href="{% static 'css/adminpage.css' %}" rel="stylesheet">


  {% block title %}
  {% endblock %}
</head>

<body>

  <script src="{% static 'js/main.js' %}"></script>

  <input type="checkbox" id="sidebar-toggle">
  <div class="sidebar">
    <div class="sidebar-header">
      <h3 class="brand">
        <span class="ti-unlink"></span>
        <span>SkillDrill.</span>
      </h3>
      <label for="sidebar-toggle" class="ti-menu-alt"></label>
    </div>

    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="{% url 'dashboard' %}">
            <span class="ti-home"></span>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="{% url 'team' %}">
            <span class="ti-face-smile"></span>
            <span>User</span>
          </a>
        </li>
        <li>
          <a href="{% url 'weblog' %}">
            <span class="ti-agenda"></span>
            <span>Blog</span>
          </a>
        </li>
        <li>
          <a href="{% url 'weblocation' %}">
            <span class="ti-clipboard"></span>
            <span>Locations</span>
          </a>
        </li>
        <li>
          <a href="{% url 'webservice' %}">
            <span class="ti-folder"></span>
            <span>Services</span>
          </a>
        </li>
        <li>
          <a href="{% url 'weborder' %}">
            <span class="ti-time"></span>
            <span>Order</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="ti-book"></span>
            <span>Contacts</span>
          </a>
        </li>
        <li>
          <a href="{% url 'adminaccount' %}">
            <span class="ti-settings"></span>
            <span>Account</span>
          </a>
        </li>
      </ul>
    </div>
  </div>


  <div class="main-content">
    <header>
      <div class="search-wrapper">
        <span class="ti-search"></span>
        <input type="search" placeholder="Search">
      </div>

      <div class="social-icons">
        <span class="ti-bell"></span>
        <span class="ti-comment"></span>
        <div> </div>
      </div>
    </header>
  </div>


  {% block body %}



  {% endblock %}

  <!--  Footer for admin panel by banish  -->
  <div class="main-content">
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>SkillDrill</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <a>Designed by SkillDrill</a>
        </div>
      </div>
    </footer>
  </div>

  <!-- Vendor JS Files -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js'%}"></script>
</body>

</html>
