{% extends 'adminlayout.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Add Services</title>
{% endblock %}
{% block body %}
    <div class="card main-content">
        <main>
            <div class="col-md-6 card" >
                <h1>New Services</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input  class="btn-primary btn-lg" type="submit" value="Save"  style="margin-left: 325px; margin-bottom: 20px"/>
                </form>
            </div>
        </main>
    </div>
{% endblock body %}